body {
    background-color: powderblue;
    background-image: url("../images/background2.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    font-family: 12px arial, verdana;
}

p {
    font-family: 12px arial, verdana;
    color: red;
}

h1 {
    color: blue;
}

input[type=number] {
    width: 40px;
} 

label, select {
    font: bold 12px arial, verdana;
}

table {
    align-content: center;
    width: 55%;
}

tr, td {
    border: thin;
    padding: 5px;
}

.search {
    text-align: center;
}

.searchresults {
    align-content: center;
    text-align: center;
}

.searchresults_table {
    font: bold 12px arial, verdana;
    align-content: center;
    border: groove;
    width: 80%;
}

.searchresults_table tr:nth-child(odd) {
    background-color: #dfdfff;
}

.searchresults_table tr:nth-child(even) {
    background-color: #fafaff;
}