<html>
<head>
    <link rel="stylesheet" href="../css/styles.css">
    <title>{{ title }}</title>
</head>
<body>
    <h1 align="center">Search</h1>
    <table align="center">
        <tr>
            <td width="40%">
                Gender
            </td>
            <td>
                <select>
                    <option value="Female">Female</option>
                    <option value="Male">Male</option>
                </select>
            </td>
        </tr>
        <tr>
            <td width="40%">
                Age
            </td>
            <td>
                <input type="number" name="age" maxlength="2"><br>
            </td>
        </tr>
        <tr>
            <td width="40%">
                Skills  (Hold down the Ctrl (windows))
            </td>
            <td>
                <select name="skills" multiple>
                    <option value="1">Autism Friendly</option>
                    <option value="2">Disability Friendly</option>
                    <option value="3">Asthmatic Friendly</option>
                    <option value="4">Change to whatever that is suitable</option>
                </select>
            </td>
        </tr>
        <tr>
            <td width="40%">
                Start Date
            </td>
            <td>
                <input type="date" name="startdate" />
            </td>
        </tr>
        <tr>
            <td width="40%">
                Start Time
            </td>
            <td>
                <input type="number" name="starthour" maxlength="2">:<input type="number" name="startmin" maxlength="2"><br>
            </td>
        </tr>
        <tr>
            <td width="40%">
                End Date
            </td>
            <td>
                <input type="date" name="enddate" />
            </td>
        </tr>
        <tr>
            <td width="40%">
                End Time
            </td>
            <td>
                <input type="number" name="endhour" maxlength="2">:<input type="number" name="endmin" maxlength="2"><br>
            </td>
        </tr>
    </table>
    <br />
    <div align="center"><input type="submit" align="center" value="Search"></div>
    <br/>
    <div class="searchresults">
        test: search results output
    </div>
</body>
</html>
