<html>
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
    <title>{{ title }}</title>
</head>
<body>
    <div class="search">
        <img src="{{url_for('static', filename='images/search.png')}}" height="210px" width="700px" />
        <h1>I'm looking for a caregiver .... </h1>
    </div>
    <hr />
    <form action="{{dest}}" name="query" method="GET">
        <table align="center">
            <tr>
                <td width="20%">
                    <label>Date *</label>
                </td>
                <td>
                    <input type="date" id="date" name="startdate" value="1991-03-15" required="required">
                </td>
                <td>
                    <label>Start Time (24-hr) *</label>
                </td>
                <td>
                    <input type="number" name="starthour" maxlength="2" min="0" max="23" value="08" required="required">:
                    <input type="number" name="startmin" maxlength="2" min="0" max="59" value="00" required="required">
                </td>
                <td>
                    <label>End Time (24-hr) *</label>
                </td>
                <td>
                    <input name="endhour" type="number" maxlength="2" min="0" max="23" value="13" required="required">:
                    <input name="endmin" type="number" maxlength="2" min="0" max="59" value="00" required="required">
                </td>
            </tr>
            <tr>
                <td>
                    <label>Requirements</label>
                </td>
                <td colspan="5">
                    <select name="skills" multiple="multiple" style="width: 450px;" required="required">
                      {% for skill in skill_list %}
                      <option value="{{skill}}">{{skill}}</option>
                      {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="6"><input type="checkbox" name="meal" /><label>Meal Inclusive</label></td>
            </tr>
            <tr>
                <td colspan="6"><input type="checkbox" name="pickup" /><label>Pick Up</label></td>
            </tr>
        </table>
        <div align="center"><input type="submit" align="center" value="Search"></div>
        <hr/>
    </form>
    <br />

    <script type="text/javascript">
      document.getElementById("date").valueAsDate = new Date();
    </script>

    {% if is_hidden == False %}
    <div class="searchresults">
        <table class="searchresults_table" align="center">
            <tr class="searchresults_table" align="center">
                <th>Name</th>
                <th>Price</th>
                <th>Gender</th>
                <th>Description</th>
                <th>Skills</th>
            </tr>
            {% for item in result %}
            <tr class="searchresults_table" align="center">
                <td>{{item.name}}</td>
                <td>{{item.price}}</td>
                <td>{{item.gender}}</td>
                <td>{{item.description}}</td>
                <td>
                  {{', '.join(item.skills)}}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    {% endif %}
</body>
</html>
